.horizList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 2rem;
    margin-right: 2rem;
}

.logoElem {
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.verticalList {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    min-width: 25%;
    max-width: 50%;
}

.verticalList > span {
    text-align: center;
}