.nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 3rem;
    background-color: var(--bg-normal-dark);
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: stretch;
    box-shadow: 0 0 5px 2px var(--shadow);
    font-family: 'Fira Code Regular';
    font-size: 1.25rem;
    transition: 0.4s;
}

.hidden {
    top: -3rem;
}