.container {
    border-bottom: solid 1px var(--fg-accent-dark-transparent);
}

.container:hover .link {
    text-decoration: underline;
}

.container:last-child {
    border-bottom: none;
}

.link {
    font-family: 'Fira Sans';
    font-weight: 300;
    text-decoration: none;
    color: var(--fg-normal-light);
    transition: .5s;
}

.link:hover {
    color: var(--fg-accent-light);
}

.title {
    font-family: 'Fira Sans';
    font-style: bold;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: .5rem;
}

.location {
    float: right;
    text-align: right;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 768px) {
    .location {
        float: none;
    }

    .period {
        display: block;
    }
}

.complement {
    font-family: 'Fira Sans';
    font-weight: 300;
    font-size: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.content {
    padding-bottom: 2rem;
}

.content p{
    text-align: justify;
    line-height: 1.5;
}

.content > img {
    box-shadow: 0px 1px 5px 1px var(--shadow);
}