@font-face {
    font-family: 'Fira Code Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Code Regular'), url('FiraCode-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Fira Code Light';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Code Light'), url('FiraCode-Light.woff') format('woff');
}


@font-face {
    font-family: 'Fira Code Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Code Medium'), url('FiraCode-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Fira Code Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Code Bold'), url('FiraCode-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Fira Code SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Fira Code SemiBold'), url('FiraCode-SemiBold.woff') format('woff');
}