button {
    outline: none;
    background-color: var(--bg-normal-dark);
    border: none;
    transition: 0.2s;
    color: var(--fg-normal-dark);
    flex: 1;
    font-family: 'Fira Code Light';
    cursor: pointer;
}

.held {
    color: var(--fg-normal-light);
    background-color: var(--bg-accent-dark);
    flex: 2;
    font-weight: 900;
}