button {
    outline: none;
    background-color: var(--bg-normal-dark);
    border: none;
    transition: 0.2s;
    color: var(--fg-accent-light);
    flex: 1;
    font-family: 'Fira Code Light';
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
}

.held {
    color: var(--fg-normal-light);
    background-color: var(--bg-accent-dark);
    font-weight: bolder;
    flex: 2;
}

@media only screen and (max-width: 768px) {
    button {
        font-size: 0.8rem;
    }

    .held {
        flex: 1;
    }
}