@import url('/fonts/FiraCode/style.css');

body, html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Fira Code Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-normal-dark:  #1F1F1F;
  --bg-normal-light: #404040;
  --fg-normal-dark:  #AEAEAE;
  --fg-normal-light: #E0E0E0;
  --bg-accent-dark:  #22775B;
  --bg-accent-light: #138660;
  --fg-accent-dark:  #009966;
  --fg-accent-light: #00E096;
  --fg-disabled: #202020;
  --bg-transparent: rgba(25, 25, 25, 0.7);
  --shadow: rgb(0, 0, 0);
}

#root {
  height: 100vh;
  width: 100vw;
}